* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #25282a;
    display: flex;
    align-content: center;
    justify-content: center;
}

.slider {
    margin: 2vh 2vw;
    width: 96vw;
    height: 96vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.slider input {
    display: none;
}

.slider__wrapper {
    display: flex;
    flex: 0 1 95vh;
    padding: 2vh 2vw;
    width: 92vw;
    overflow: hidden;
}

.slider__wrapper img {
    border-radius: 10px;
    max-width: 92vw;
    max-height: calc(85vh - 50px);
}

.slider__wrapper  ul {
    position: relative;
    display: grid;
    grid-template-columns: repeat(13, 92vw);
    gap: 4vw;
    align-items: center;
    transition: margin-left 2s;
}

.slider__wrapper li {
    display: grid;
    width: 92vw;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav {
    margin-bottom: 5vh;
    display: flex;
    gap: 2px;
    flex: 0 0 auto;
}

.nav_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.nav_btn::after {
    content: "";
    border: 2px solid #71a5f1;
    background-color: #71a5f1;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav_btn:hover::after {
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

#footer {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    justify-content: center;
    width: 90vw;
}

.slider__title {
    flex: 1 0 60vw;
    height: calc(20px + 5vh);
}

#radio_1:checked~#footer .nav_btn_1::after,
#radio_2:checked~#footer .nav_btn_2::after,
#radio_3:checked~#footer .nav_btn_3::after,
#radio_4:checked~#footer .nav_btn_4::after,
#radio_5:checked~#footer .nav_btn_5::after,
#radio_6:checked~#footer .nav_btn_6::after,
#radio_7:checked~#footer .nav_btn_7::after,
#radio_8:checked~#footer .nav_btn_8::after,
#radio_9:checked~#footer .nav_btn_9::after,
#radio_10:checked~#footer .nav_btn_10::after,
#radio_11:checked~#footer .nav_btn_11::after,
#radio_12:checked~#footer .nav_btn_12::after,
#radio_13:checked~#footer .nav_btn_13::after {
    background: none;
}

#radio_1:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 0)
}

#radio_2:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 1)
}

#radio_3:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 2)
}

#radio_4:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 3)
}

#radio_5:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 4)
}

#radio_6:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 5)
}

#radio_7:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 6)
}

#radio_8:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 7)
}

#radio_9:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 8)
}

#radio_10:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 9)
}

#radio_11:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 10)
}

#radio_12:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 11)
}

#radio_13:checked~.slider__wrapper>ul {
    margin-left: calc(-96vw * 12)
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(1em + 1vw);
    color: #ffe2ad;
    visibility: visible;
    height: 0;
    opacity: 0;
    padding-right: 20px;
}

#radio_1:checked~#footer h3#title_1,
#radio_2:checked~#footer h3#title_2,
#radio_3:checked~#footer h3#title_3,
#radio_4:checked~#footer h3#title_4,
#radio_5:checked~#footer h3#title_5,
#radio_6:checked~#footer h3#title_6,
#radio_7:checked~#footer h3#title_7,
#radio_8:checked~#footer h3#title_8,
#radio_9:checked~#footer h3#title_9,
#radio_10:checked~#footer h3#title_10,
#radio_11:checked~#footer h3#title_11,
#radio_12:checked~#footer h3#title_12,
#radio_13:checked~#footer h3#title_13 {
    visibility: visible;
    height: auto;
    opacity: 1;
    transition: opacity 2s;
}

@media (max-width: 768px) {
    h3 {
        text-align: center;
        padding-right: 0;
    }

    .nav {
        flex-wrap: wrap;
        width: 94vw;
        justify-content: center;
    }

    .slider__wrapper img {
        max-height: calc(83vh - 60px);
    }
}